 <!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'myApp/style-base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myApp/style-login.css' %}">
    <script src= "{% static 'myApp/preload.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet">
    <title>Ошибка входа</title>
</head>
<body>
    <div class="se-pre-con"></div>
    <div class="container" style="height: 218px">
        <div class="title-error"><p>Ошибка входа</p></div>
        <p class="headline-error">Возможные причины:</p>
        <div class="causes">
            <p>&bull; Ошибка при вводе логина и пароля</p>
            <p>&bull; Ваша учетная запись была деактивирована</p>
            <p>&bull; Если вы новый пользователь сети, то обратитесь к администратору для активации вашей учетной записи</p>
        </div>
        <div class="return"><a href="{% url 'myApp:user_login' %}">Вернуться на страницу входа</a> </div>
    </div>
</body>
</html>