 <!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load widget_tweaks %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'myApp/style-base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'myApp/style-login.css' %}">
    <script src= "{% static 'myApp/preload.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet">
    <title>Регистрация</title>
</head>
<body>
    <div class="se-pre-con"></div>
    <div class="container" style="height: 295px">
        <div class="title">
            <p>Регистрация</p>
        </div>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="label-holder">
                    <label>{{ user_form.username.label }}:</label>
                </div>
                {% render_field user_form.username %}

                <div class="label-holder">
                    <label>{{ user_form.password.label }}:</label>
                </div>
                {% render_field user_form.password %}

                <div class="label-holder">
                    <label>{{ user_form.email.label }}:</label>
                </div>
                {% render_field user_form.email %}

                 <div class="label-holder">
                     <label>{{ profile_form.name.label }}:</label>
                 </div>
                {% render_field profile_form.name %}

                 <div class="label-holder">
                     <label>{{ profile_form.surname.label }}:</label>
                 </div>
                {% render_field profile_form.surname %}


                <button type="submit" name="" value="Register"><p>Создать учетную запись</p></button>
            </form>
         {% if mark %}
             <div class="username-error"><p>Пользователь с данным логином уже существует</p></div>
        {% endif %}
    </div>
</body>
</html>
